a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
  display: inline-block;
  float: right;
  margin-left: 10px;
}
